Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [10]:
def is_symmetrical(num):
    count = 0
    s = str(num)
    l = len(s)
    for i in range(l//2):   #forward iteration till middle element
        for j in range(l-(i+1),l-i):    #considering just 1 iteration here.  #backward iteration till middle element.
            if s[i] == s[j]:
                count += 1
            else:
                continue
    if count == l//2:
        return True
    else:
        return False
        
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [20]:
def multiply_nums(str_nums):
    lst = str_nums.split(',')
    prod = 1
    for num in lst:
        num1 = int(num)   #converting str element into integer type.
        prod  = prod*num1
    return ('Product of the numbers is:', prod)
 

print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

('Product of the numbers is:', 6)
('Product of the numbers is:', 24)
('Product of the numbers is:', 0)
('Product of the numbers is:', -20)

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [24]:
def square_digits(num):
    new_num = ''
    s = str(num)   #converting number into str type for iterating purpose.
    for i in s:
        k = int(i)  #converting individual element into int again for squaring purpose.
        new_num += str(k**2)   #converted to str because only str can be concatenated to str.
    return new_num


print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [25]:
def setify(lst):
    unique = []
    for num in lst:
        if num not in unique:
            unique.append(num)
        else:
            continue
    return unique

print(setify([1,3,3,5,5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[3, 2, 1]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [32]:
def mean(num):
    sum_num = 0
    s = str(num)    #converting to str for iterating purpose.
    for i in s:
        sum_num += int(i)
    mean = sum_num/len(s)
    return mean


print(mean(42))
print(mean(12345))
print(mean(666))
print(mean(1231))

3.0
3.0
6.0
1.75

In [ ]:
#-------------------End----------------------------------